@model WeatherData

@{
    ViewData["Title"] = "Sprawdź pogodę i zapisz do bazy jeśli jeszcze jej nie ma!";
}

<!DOCTYPE html>
<html>
<head>
    <title>Pogoda w Poznaniu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container">
        <h1 class="text-center mb-4">Pogoda w Poznaniu</h1>
        <div class="card p-4">
        @if (Model != null)
        {
                <div class="row">
                    <div class="col-4">
                        <p class="mb-1">Data:</p>
                        <p>@Model.Date</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1">Temperatura:</p>
                        <p>@Model.Temperature °C</p>
                    </div>
                    <div class="col-4">
                        <p class="mb-1">Ciśnienie:</p>
                        <p>@Model.Pressure Pa</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="mb-1">Prędkość wiatru:</p>
                        <p>@Model.WindSpeed Km/H</p>
                    </div>
                    <div class="col-8">
                        <img class="rounded-circle" src="@($"https://openweathermap.org/img/wn/{@Model.Icon}.png")"
                             alt="@Model.Date" style="max-width: 150px" />
                    </div>
                </div>
        }
        else
        {
            <p>Brak danych pogodowych.</p>
        }
        <form method="post" asp-action="Create">
            <input type="submit" name="submit" value="Pobierz" class="btn btn-primary mt-3" />
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>
